alembic
annotated-types
anyio
bcrypt
click
colorama
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
greenlet
h11
httptools
idna
Mako
MarkupSafe
passlib[argon2]
psycopg2-binary
pyasn1
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
watchfiles
websockets
pyotp
pgvector
opensearch-py
langchain
langgraph
langchain-openai
langchain-core
langchain-mcp-adapters
httpx
boto3
python-multipart
langgraph-checkpoint-postgres
psycopg[binary,pool]